@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.navmain {
    background-color: #1E2028;
    display: flex;
    height: 75px;
    font-family: "Raleway", serif;
    position:relative;
}

.navmain img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 7px;
    filter: brightness(0.95);
}

.navmain h2 {
    margin-top: 30px;
    font-size: 30px;
    color: #E6B45E;
}

.navitems ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    gap: 50px;
    margin-top: 30px;
}

.navitems a {
    text-decoration: none;
    font-size: 20px;
    color: #C9CCD1;
    font-weight: bold;
}

.navitems a:hover {
    color: #E6B45E;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.navitems button {
    margin-left: 160px;
    border: 1px solid #E6B45E;
    background-color: #E6B45E;
    height: 40px;
    width: 130px;
    margin-top: -10px;
    border-radius: 5px;
    color: #0F1115;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

.navitems button:hover {
    background-color: #F0C27B;
    border: 1px solid #F0C27B;
    transition: 0.3s ease-in-out;
}

.navitems a.active {
    color: #E6B45E;
}

@media (max-width: 768px) {
    .navmain {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .navmain img {
        margin: 10px 0;
    }

    .navmain h2 {
        margin: 10px 0;
        font-size: 24px;
    }

    .navitems ul {
        flex-direction: column;
        margin: 0;
        gap: 20px;
    }

    .navitems a {
        font-size: 18px;
    }

    .navitems button {
        margin: 20px 0;
        width: 100px;
    }
}

@media (max-width: 480px) {
    .navmain h2 {
        font-size: 20px;
    }

    .navitems a {
        font-size: 16px;
    }

    .navitems button {
        width: 90px;
        font-size: 15px;
    }
}